.library {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: rgba(255, 255, 255, 0.99);
  box-shadow: 2px 2px 50px rgb(60, 60, 60);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  opacity: 0;
  .library-title {
    position: relative;
    height: 60px;
    h2 {
      height: 60px;
      padding-left: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .library-songs {
    position: relative;
  }
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background: rgba($color: #252525, $alpha: 1);
    transition: background 0.3s ease;
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5);
}
*::-webkit-scrollbar {
  // width: 5px;
  // height: 100%;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.selected {
  background: rgba($color: #1e1e1e, $alpha: 1);
  h2,
  h3,
  h4,
  h1 {
    color: white !important;
  }
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
