nav {
  height: 60px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 27px;
    cursor: default;
  }
  button {
    display: flex;
    background: transparent;
    border: none;
    color: rgb(165, 165, 165);
    cursor: pointer;
    border: 1px solid rgb(165, 165, 165);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
    div {
      padding: 0 0 0 2px;
    }
  }
  .active-library {
    color: rgba($color: #252525, $alpha: 0.7);
    border: 1px solid rgba($color: #252525, $alpha: 0.7);
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 2rem;
    button {
      z-index: 10;
    }
  }
}
