.song-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: 1s ease-out 0s 1 slideInFromBottom;
  .img-container {
    display: flex;

    border-radius: 12px;
    overflow: hidden;

    margin: 0 22px;

    transition: all 0.2s ease-in;
  }

  h2 {
    padding: 32px 16px 16px 16px;
  }
  h3 {
    font-size: 1rem;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .img-container {
    border-radius: 50% !important;
  }
}
